:root {
    /* CORES */
    --cor-azul-escuro: #2f67b0;
    --cor-azul-claro: #4081d3;
    --cor-branca: #ffffff;
    --cor-preta: #000000;

    --bg-azul-claro-opacity: rgba(64, 129, 211, 0.1);
}

body {
	font-family: "Lato", sans-serif;
}

body h2 {
	font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

body span {
    color: var(--cor-azul-escuro);
}

.navbar {
    background-color: var(--cor-azul-escuro);
}

.navbar img {
    width: 200px;
}

.nav .nav-link.active {
    background-color: var(--cor-branca);
    color:  var(--cor-preta);
}

.nav .nav-link {
    color: var(--cor-branca);
}

#sobre-nos p {
    text-align: justify;
}

#servicos, #contato {
    background-color: var(--bg-azul-claro-opacity);   
    text-align: justify;
}

.nav-produtos .nav-link {
    color: var(--cor-azul-escuro);
}

.nav-produtos .nav-link.active {
    background-color: var(--cor-azul-claro);
    color: var(--cor-branca);
}
footer {
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branca);
}

footer li {
    list-style: none;
}

footer li a {
    color: var(--cor-branca);
}